.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 300px;
    height: 300px;
    margin: 30px auto;
  }

  .container div {
    background-color: lightgray;
    aspect-ratio: 1;
  }